@using InTheBoks.Resources

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="InTheBoks - Organize Your Stuff">
    <meta name="author" content="Sondre Bjellås">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link rel="apple-touch-icon" href="~/Content/intheboks_72.png" />
    <link rel="apple-touch-icon" href="~/Content/intheboks_114.png" sizes="114x114"/>

    <link rel="shortcut icon" href="/favicon.ico" />

    @Styles.Render("~/Content/themes/base/css", "~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div id="AppContainer">

    <div id="fb-root"></div>
    <script src="//connect.facebook.net/@Resource.FacebookCulture()/all.js"></script>
    @Scripts.Render("~/bundles/fb")

    <header id="header">

        <a href="/" id="logo"><img title="InTheBoks.com - Organize Your Stuff" src="~/Content/intheboks_logo_light.png" /></a>
        <div class="loading">
            <img src="../../Content/ajax-loader.gif" /></div>

      <div id="auth-status">

          <span class="authenticated">
        <img src="../../Content/icons/white/search.png" title="Search" class="action big"
            style="margin-top: 4px; margin-right: 10px; float: left;" />

          <img src="~/Content/icons/white/settings.png" class="action big" onclick="ToggleSettings();"
              style="margin-top: 4px; margin-right: 10px; float: left;" title="Settings" />
              </span>

     <div class="initializing auth-box">
             <img src="~/Content/ajax-loader.gif" />
             @Text.Loading...
     </div>

    <div id="auth-loggedout" class="anonymous">
        <img id="auth-loginlink" src="../../Content/Facebook.png" />
    </div>

    <div id="auth-loggedin" class="authenticated">
        
        <div id="profileInfo">
            @Text.Hi, <span id="auth-displayname"></span>  
            
            <img src="" id="profileImage" height="18" width="18" />
            <a href="#" id="auth-logoutlink">@Text.Logout</a>
        </div>

    </div>
</div>

    </header>


    <div id="content" class="authenticated content stretch">
        <div id="left-sidebar" class="stretch">

            &nbsp;
            <img src="../../Content/icons/white/add.png" class="action" title="New Collection" width="32" height="32" />
            <img src="../../Content/icons/white/edit.png" class="action" title="Edit Collection" width="32" height="32" />
            <img src="../../Content/icons/white/delete.png" class="action" title="Delete Collection" width="32" height="32" />

            <div class="margin" style="margin-right: 0px;">
                <ul class="catalogsList" data-bind="foreach: Catalogs">
                    <li class="button" data-bind="click: $parent.SelectCatalog, css: { selected: $data == $root.SelectedCatalog() }">
                        <span data-bind="text: Name"></span>
                        <span data-bind="text: Count" style="float: right;"></span>
                    </li>
                </ul>
            </div>

        </div>

             <div id="friends" class="stretch">
                <div id="friendlist" style="width: 150px;">
                    <div><img src="../../Content/friend.jpg" /> John Doe</div>
                    <div><img src="../../Content/friend.jpg" width="24" /> Sondre Bjellås</div>
                    <div><img src="../../Content/friend.jpg" width="24" /> Fredric Aasbø</div>
                    <div><img src="../../Content/friend.jpg" width="24" /> Kenneth Moen</div>
                    <div><img src="../../Content/friend.jpg" width="24" /> Robbie Nishida</div>
                    <div><img src="../../Content/friend.jpg" width="24" /> Robbie Nishida</div>
                    <div><img src="../../Content/friend.jpg" width="24" /> Robbie Nishida</div>
                    <div><img src="../../Content/friend.jpg" width="24" /> Robbie Nishida</div>

                </div>
                <div id="friendfeed">
                    <div><img src="../../Content/friend.jpg" /> John Doe added "The Matrix"</div>
                    <div><img src="../../Content/friend.jpg" /> John Doe added "New Years Eve"</div>
                    <div><img src="../../Content/friend.jpg" /> John Doe added "New Years Eve"</div>
                    <div><img src="../../Content/friend.jpg" /> John Doe added "New Years Eve"</div>
                    <div><img src="../../Content/friend.jpg" /> John Doe added "New Years Eve"</div>
                    <div><img src="../../Content/friend.jpg" /> John Doe added "New Years Eve"</div>
                    <div><img src="../../Content/friend.jpg" /> John Doe added "New Years Eve"</div>
                    <div><img src="../../Content/friend.jpg" /> John Doe added "New Years Eve"</div>
                    <div><img src="../../Content/friend.jpg" /> John Doe added "New Years Eve"</div>
                    <div><img src="../../Content/friend.jpg" /> John Doe added "New Years Eve"</div>
                    <div><img src="../../Content/friend.jpg" /> John Doe added "New Years Eve"</div>
                    <div><img src="../../Content/friend.jpg" /> John Doe added "New Years Eve"</div>
                </div>
            </div>

        <div id="main-content" class="stretch">



            <img src="~/Content/icons/white/add.png" data-bind="click: AddItem" class="action" title="New Item" />
            <img src="~/Content/icons/white/delete.png" class="action" title="Delete Item(s)"  />
            
            <img src="~/Content/icons/white/friends.png" onclick="ToggleFriends();" title="View/Hide Friends" class="action" style="float: right; margin-right: 8px;" />

            <img src="~/Content/icons/white/basecircle.png" title="List View" class="action" style="float: right; margin-right: 8px;" />
            <img src="~/Content/icons/white/basecircle.png" title="Thumbnails View" class="action" style="float: right; margin-right: 8px;" />
            
            <input type="range" id="thumbnailSize" onchange="ThumbnailRender();" min="32" max="256" value="128" step="8" style="float: right; margin-right: 8px;" />

            <div class="margin">
                @RenderBody()
            </div>



        </div>
       
    </div>

    <div id="anonymous" class="anonymous content-box stretch">
        <p>&nbsp;</p>
        <img src="~/Content/drop_box256x256.png" />
        @Html.Raw(Text.AnonymousWelcomeText)
    </div>

    <div class="initializing content-box stretch">
        <p>&nbsp;</p>
        @Text.Initializing...
    </div>
    
        <div id="settings" class="stretch settings">
            <div>
            <h1>Settings</h1>

                <p>
                    Privacy:<br />
                   <input type="checkbox" checked id="shareActivity" />
                    <label for="shareActivity">Share my activity on InTheBoks Social</label>
                </p>
                <p>
                    Language:<br />
                    <select>
                        <option>Auto-detect</option>
                        <option>English</option>
                        <option>Norwegian</option>
                    </select>
                </p>
                <p>
                    <img onclick="ToggleSettings();" class="action big" title="Save" src="../../Content/icons/white/save.png" />
                    &nbsp;<img onclick="ToggleSettings();" class="action big" title="Cancel" src="../../Content/icons/white/cancel.png" />
                </p>
            </div>
        </div>

        <div id="search" class="stretch search">
            <div>
                <a href="#" title="Go Back" onclick="ToggleSearch();"><img src="../../Content/icons/white/back.png"  class="action huge" style="float: left; margin-left: -70px; margin-top: -7px;" /></a>
            <h1 data-bind="with: SelectedCatalog">Add New Items to "<span data-bind="text: Name"></span>"</h1>
                <p>Fill out search term or barcode:</p>
                <p><input type="search" data-bind="value: SearchTerm" style="font-size: 1.6em; padding: 6px;" placeholder="Keyword or Barcode" />
                    <button data-bind="click: Search">Search</button>
                    <button>Scan Barcode with webcam</button>
                </p>
                
                <div data-bind="visible: Results().length > 0">
                Search Results:<br />
                <div class="thumbnails">
                    <div data-bind="foreach: Results"><span><img data-bind="attr: { src: ImageUrl, title: Title }, click: $parent.SelectResult, css: { picked: Selected }" /></span></div>
                </div>
                    <br />
                <img title="Save Selected Item(s)" class="action huge" src="../../Content/icons/white/save.png" />
                <img onclick="ToggleSearch();" class="action huge" title="Cancel" src="../../Content/icons/white/cancel.png" />
                    </div>
            </div>
        </div>

        <footer id="footer" class="authenticated">
            <div>
           Status:
            <div id="log"></div>
                </div>
        </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/app")

    <script>
    $(function () {
        // Define the resources on a global level. We should do this before
        // we create any view models, etc.
        Resource = $.parseJSON($("#resources").html());

        $(window).resize(function () {
            $('#log').append('<div>Handler for .resize() called.</div>');

            ResizeContent();

        });

        ResizeContent();

    });
    </script>

    <script id="resources" type="application/json">
        @Html.Raw(Resource.RenderJson())
    </script>

    @RenderSection("scripts", required: false)

</div>

</body>
</html>
