@using InTheBoks.Resources

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="InTheBoks - Organize Your Stuff">
    <meta name="author" content="Sondre Bjellås">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link rel="apple-touch-icon" href="~/Content/intheboks_72.png" />
    <link rel="apple-touch-icon" href="~/Content/intheboks_114.png" sizes="114x114"/>

    <link rel="shortcut icon" href="/favicon.ico" />

    @Styles.Render("~/Content/themes/base/css", "~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div id="AppContainer">

    <div id="fb-root"></div>
    <script src="//connect.facebook.net/@Resource.FacebookCulture()/all.js"></script>
    @Scripts.Render("~/bundles/fb")

    <header id="header">

        <a href="/" id="logo"><img title="InTheBoks.com - Organize Your Stuff" src="~/Content/intheboks_logo_light.png" /></a>
        <div class="loading">
            <img src="../../Content/ajax-loader.gif" /></div>

      <div id="auth-status">

        <img src="../../Content/icons/white/search.png" title="Search" class="authenticated action big"
            style="margin-top: 4px; margin-right: 10px; float: left;" />

          <img src="~/Content/icons/white/settings.png" class="authenticated action big" onclick="ToggleSettings();"
              style="margin-top: 4px; margin-right: 10px; float: left;" title="Settings" />

     <div class="initializing auth-box">
             <img src="~/Content/ajax-loader.gif" />
             @Text.Loading...
     </div>

    <div id="auth-loggedout" class="anonymous">
        <img id="auth-loginlink" src="../../Content/Facebook.png" />
    </div>

    <div id="auth-loggedin" class="authenticated">
        
        <div id="profileInfo">
            @Text.Hi, <span id="auth-displayname"></span>  
            <a href="#" id="auth-logoutlink">@Text.Logout</a>
            <img src="" id="profileImage" height="16" width="16" />
        </div>

    </div>
</div>

    </header>


    <div id="content" class="authenticated content stretch">
        <div id="left-sidebar" class="stretch">

            &nbsp;
            <img src="../../Content/icons/white/add.png" class="action" title="New Collection" width="32" height="32" />
            <img src="../../Content/icons/white/edit.png" class="action" title="Edit Collection" width="32" height="32" />
            <img src="../../Content/icons/white/delete.png" class="action" title="Delete Collection" width="32" height="32" />

            <div class="margin" style="margin-right: 0px;">
        <ul data-bind="foreach: Catalogs">
            <li class="button" data-bind="text: Name, click: $parent.SelectCatalog, css: { selected: $data == $root.SelectedCatalog() }"></li>
        </ul>
                </div>

        </div>
        <div id="main-content" class="stretch">
            <img src="../../Content/icons/white/add.png" data-bind="click: AddItem" class="action" title="New Item" />
            <img src="../../Content/icons/white/delete.png" class="action" title="Delete Item(s)"  />
            
            <img src="../../Content/icons/white/basecircle.png" title="List View" class="action" style="float: right; margin-right: 8px;" />
            <img src="../../Content/icons/white/basecircle.png" title="Thumbnails View" class="action" style="float: right; margin-right: 8px;" />
            <input type="range" id="thumbnailSize" onchange="ThumbnailRender();" min="32" max="256" value="128" step="8" style="float: right; margin-right: 8px;" />

            <div class="margin">
                @RenderBody()
            </div>
        </div>
    </div>

    <div id="anonymous" class="anonymous content-box stretch">
        <p>&nbsp;</p>
        @Html.Raw(Text.AnonymousWelcomeText)
    </div>

    <div class="initializing content-box stretch">
        <p>&nbsp;</p>
        @Text.Initializing...
    </div>
    
        <div id="settings" class="stretch settings">
            <div>
            <h1>Settings</h1>

            <p>Change your settings here.</p>
                <p>
                    <img onclick="ToggleSettings();" class="action big" title="Save" src="../../Content/icons/white/save.png" />
                    &nbsp;<img onclick="ToggleSettings();" class="action big" title="Cancel" src="../../Content/icons/white/cancel.png" />
                </p>
            </div>
        </div>

        <div id="search" class="stretch search">
            <div>
                <a href="#" title="Go Back" onclick="ToggleSearch();"><img src="../../Content/icons/white/back.png"  class="action huge" style="float: left; margin-left: -70px; margin-top: -7px;" /></a>
            <h1>Add New Items to Catalog</h1>
                <p>Fill out search term or barcode:</p>
                <p><input type="search" data-bind="value: SearchTerm" style="font-size: 1.6em; padding: 6px;" placeholder="Keyword or Barcode" />
                    <button data-bind="click: Search">Search</button>
                    <button>Scan Barcode with webcam</button>
                </p>
                
                <div data-bind="visible: Results().length > 0">
                Search Results:<br />
                <div id="thumbnails" class="results">
                    <div data-bind="foreach: Results">
                    <img data-bind="attr: { src: ImageUrl, title: Title }, click: $parent.SelectResult, css: { picked: Selected }" />
                    </div>
                    <!--
                    <img src="../../Content/albums/41A-jqYmLiL.jpg" />
    
    
                    <img src="../../Content/albums/516ZF6YQKAL.jpg" /><img src="../../Content/albums/518UVI8xp8L.jpg" /><img src="../../Content/albums/51BtHBW4gQL.jpg" /><img src="../../Content/albums/51MP8TKAFVL.jpg" /><img src="../../Content/albums/51PpJAOkqLL.jpg" /><img src="../../Content/albums/51SSmALB9nL.jpg" /><img src="../../Content/albums/51VfE5rU9OL.jpg" /><img src="../../Content/albums/51vhtc7Lj0L.jpg" />
                        -->
                </div>
                    <br />
                <img title="Save Selected Item(s)" class="action huge" src="../../Content/icons/white/save.png" />
                <img onclick="ToggleSearch();" class="action huge" title="Cancel" src="../../Content/icons/white/cancel.png" />
                    </div>
            </div>
        </div>

        <footer id="footer" class="authenticated">
            <div>
           Status:
            <div id="log"></div>
                </div>
        </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/app")

    <script>
    $(function () {
        // Define the resources on a global level. We should do this before
        // we create any view models, etc.
        Resource = $.parseJSON($("#resources").html());

        $(window).resize(function () {
            $('#log').append('<div>Handler for .resize() called.</div>');

            ResizeContent();

        });

        ResizeContent();

    });

    function ResizeContent()
    {
        var headerheight = $("#header").height();
        var footerheight = $("#footer").height();
        var windowheight = $(window).height();

        var height = windowheight - (headerheight + footerheight);

        $(".stretch").height(windowheight - (headerheight + footerheight));
        $("#main-content").width($(window).width() - 200);
    }
    </script>

    <script id="resources" type="application/json">
        @Html.Raw(Resource.RenderJson())
    </script>

    @RenderSection("scripts", required: false)

</div>

</body>
</html>
